.breadcrumbs {
    margin-top: 40px;
}


.breadcrumbs__list {
    margin: 0;
    padding: 0;
}

.breadcrumbs__item  {
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs__item:before {
    content: "/";
    display: inline-block;
    vertical-align: middle;
}
  
.breadcrumbs__item:first-child:before {
    display: none;
}

.breadcrumbs__link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: black;
}

.breadcrumbs__link-active {
    color: rgb(75, 115, 181);
    text-decoration: underline;
}